/*============ Geral ==============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #edeff3;
    display: flex;
    justify-content: center;
   
}

/*============ Container =============*/
.container{
    width: 920px;
    height: 100vh;
    display: block;
    margin: 30px auto;
    background: rgb(255 255 255);
    border-radius: 20px;
    overflow-y: scroll
}

/* ============= Header ===================*/

.logo{
    margin-left: 50px;
}

.header{
    display: flex;
    height: 46px;
    margin-top: 17px;    
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.menu {
    width: 70%;
    margin-top: 12px;
}

.header a{
    font-size: 16px;
    font-style: bold;
    color: #555758;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 10px;
}

.header a:hover{
    color: #00aaff;
}

.contact{
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 30px;
}

.fa-chevron-down {
    color: #a2a8b2;
    font-size: 15px;
    position: relative;
    right: 60px;
    top: 2px;
}

.fa-angle-right{
 position: relative;
 right: 40px;
}


/*====================== Tabela =================*/
.title {
    display: flex;
    margin: 35px 42px;
    justify-content: space-between;
}

.title h2, .title2 h2{
    color: #586672;
    font-size: 16px;
    font-style: bold;
}

.title2 h2{
    margin-left: 40px;
    margin-top: 30px;
    color: #a2a8b2;
}

button{
    background-color: #2dcb73;
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
    background-color: #000;
    color: #00aaff;  
}

table{
    font-size: 12px;
    width: 92%;
    margin-top: 30px;
    margin-left: 30px;
    border-collapse: collapse;
    color: gray;
    justify-items: center;
}

img{
    border-radius: 50%;
}


table img {
    width: 20px;
}

table th {
    background-color: rgb(249 251 252);
    text-transform: uppercase;
    font-size: small;
    font-style: bold;
    padding: 12px;
    width: 20%;
    text-align: left;
}

tr td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    padding: 30px 8px;
    width: 10%;
}


td {
    width: 60%;
    text-align: left;
    white-space: nowrap;
}

.bold, .name {
    color: #000;
    font-weight: 600;
}

.cotacao{
    margin: 5px;
    color: #74d1fd;
}


.subtitle{
    display: block;
    margin-top: 11px;
}

.avatar{
    width: 50px;
    margin-right: 20px;
    position: absolute;
}


.status, .usuario{
    margin-left: 80px;
    
}

.seta-direita{
    color: rgba(0, 0, 0, 0.623);
    margin-left: 100px;
}


/*============= Efeitos especiais ==============*/

th:hover{
    background-color: #555758;
    color: rgb(59, 221, 9);
}


tr:hover{
    background: #00000044;
    color: #fff;
}

span:hover{
    color: #d10ef8b6;
}





